*{
  box-sizing: border-box;
}

body{
  background: linear-gradient(0deg, rgb(97, 115, 122) 0%, rgb(32, 66, 80) 47%, rgb(16, 59, 77) 100%);
  margin: 0;
}

.App{
  max-width: 1430px;
  min-height: 100vh;
  padding: 0 20px;
  margin: auto
}

@import url("./components/Cards/cards.css");
@import url("./components/Card/card.css");
